*
!.gitignore
!.gitattributes

!*.txt
!*.cpp
!*.h
!*.ui

!/libdwarf/
!/libdwarf/include/
!/libdwarf/include/*.h
!/libdwarf/lib/
!/libdwarf/lib/*.a
!/libdwarf/src/
!/libdwarf/src/
!/libdwarf/src/*.c
!/libdwarf/src/*.h
